<html>
        <head>
            <title>Construcciones Teatrales</title>
        </head>
        <body>
            <div>
                <h1><a href="">Escenografias</a></h1>
            </div>

            <div>
                <p>published: 18.11.2017, 22:15</p>
                <h2><a href="">Quienes Somos</a></h2>
                <p>Nos dedicamos a la construcciones y realización de escenografias.</p>
            </div>

            <div>
                <p>published: 18.11.2017, 12:14</p>
                <h2><a href="">Marionetas</a></h2>
                <p>Construcciones de Marionetas.</p>
            </div>
        </body>
</html>